.rows{
    width: auto;
    text-align: center;
    margin: 5px;

}
.ls{
}
.container{
    

    margin-top: 10%;
    
}
.eq{
    width: 78px;
}
.ac{
    width: 78px;
}
button{
    font-size: 20px;
    margin: 3px;
    
}
.input{
    width: 175px;
    height: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: lightblue;
    text-align: center;
    font-size: large;
border-radius: 10px;
}
.w{
    width: 35px;
}